{% extends "furbar/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<!-- Начало секции слайдера -->
<div class="section slider-section">

    <div class="slider-shape"></div>

    <div class="container">
        <div class="slider-active">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- Начало одиночного слайдера -->
                    <div class="single-slider swiper-slide animation-style-01">

                        <!-- Начало содержимого слайдера -->
                        <div class="slider-content">
                            <h2 class="title">Новая стильная <br> мебель для гостиной</h2>
                            <p>Уникальный стиль мебели для вашей семьи. Создайте уют в своей гостиной.</p>
                            <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                        </div>
                        <!-- Конец содержимого слайдера -->

                        <!-- Начало изображений слайдера -->
                        <div class="slider-images">
                            <img src="{% static 'furbar/images/slider/slider-item-1.webp' %}" height='477' width='707' alt="Слайдер">
                        </div>
                        <!-- Конец изображений слайдера -->

                    </div>
                    <!-- Конец одиночного слайдера -->

                    <!-- Начало одиночного слайдера -->
                    <div class="single-slider swiper-slide animation-style-01">

                        <!-- Начало содержимого слайдера -->
                        <div class="slider-content">
                            <h2 class="title">Новая коллекция <br> столов для кухни</h2>
                            <p>Обновите интерьер вашей кухни с нашими стильными и удобными столами.</p>
                            <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                        </div>
                        <!-- Конец содержимого слайдера -->

                        <!-- Начало изображений слайдера -->
                        <div class="slider-images">
                            <img src="{% static 'furbar/images/slider/slider-item-2.webp' %}" alt="Слайдер" height='477' width='707' >
                        </div>
                        <!-- Конец изображений слайдера -->

                    </div>
                    <!-- Конец одиночного слайдера -->

                    <!-- Начало одиночного слайдера -->
                    <div class="single-slider swiper-slide animation-style-01">

                        <!-- Начало содержимого слайдера -->
                        <div class="slider-content">
                            <h2 class="title">Комфортные <br> кровати для спальни</h2>
                            <p>Отдыхайте и заряжайтесь энергией в уютной спальне с нашими комфортными кроватями.</p>
                            <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                        </div>
                        <!-- Конец содержимого слайдера -->

                        <!-- Начало изображений слайдера -->
                        <div class="slider-images">
                            <img src="{% static 'furbar/images/slider/slider-item-3.webp' %}"  height='477' width='707' alt="Слайдер">
                        </div>
                        <!-- Конец изображений слайдера -->

                    </div>
                    <!-- Конец одиночного слайдера -->

                </div>

                <!-- Добавить пагинацию -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>

<!-- Конец секции слайдера -->


<!-- Banner Section Start -->
<!-- Начало секции новых продуктов -->
<div class="section section-padding mt-n10">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-lg-9 ">
                <!-- Начало обертки продуктов -->
                <div class="product-wrapper mt-9 product-active">

                    <!-- Начало обертки продуктов верхнего уровня -->
                    <div class="product-top-wrapper">

                        <!-- Начало заголовка раздела -->
                        <div class="section-title">
                            <h2 class="title">Истекающие скидки</h2>
                        </div>
                        <!-- Конец заголовка раздела -->

                        <!-- Конец стрелок Swiper -->
                        <div class="swiper-arrows">
                            <!-- Стрелки -->
                            <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                        </div>
                        <!-- Конец стрелок Swiper -->

                    </div>
                    <!-- Конец обертки продуктов верхнего уровня -->
                    {% if no_expiring_discounts %}
                    <span>На данный момент нет истекающих скидок</span>
                    {% else %}
                    <div class="product-tabs-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        
                                        
                                        
                                        {% for product in expiring_discounts_products %}
                                        <div class="swiper-slide">
                                            <!-- Начало одиночного продукта -->
                                            
                                            <div class="single-product">
                                                <a href="{% url 'product-details' article=product.article %}"><img src="{{ product.first_image.preview.url }}" alt="{{ product.name }}" width="{{ product.preview.width }}" height="{{ product.preview.height }}"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="{% url 'product-details' article=product.article %}">{{ product.name }}</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price" >{{product.discounted_price}}₽</span> &nbsp;
                                                        <span class="sale-price old-price" ><strike>{{ product.price }}</strike></span>
                                                    </div>
                                                </div>
                                               <ul class="product-meta">
                                    <li>
                                        <a class="action add-to-basket {% if product in basket %}active{% endif %}" 
                                           href="" {% if product in basket %}style="background-color:orange;"{% endif %} data-add-url="{% url 'basket_add' article=product.article %}" 
                                           data-delete-url="{% url 'basket_delete' article=product.article %}">
                                            <i class="pe-7s-shopbag"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="action add-to-wishlist {% if product in wishlist %}active{% endif %}" 
                                           href="" {% if product in wishlist %}style="background-color:orange;"{% endif %} data-add-url="{% url 'wishlist_add' article=product.article %}" 
                                           data-delete-url="{% url 'wishlist_delete' article=product.article %}">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                </ul>
                                            </div>
                                            <!-- Конец одиночного продукта -->
                                        </div>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        {% endif %}
                    </div>
                    <!-- Конец содержимого вкладок продуктов -->

                </div>
                <!-- Конец обертки продуктов -->
            </div>
        </div>
    </div>
</div>
<!-- Конец секции новых продуктов -->


<!-- Начало секции призыва к действию -->
<div class="section call-to-action" style="background-image: url({% static 'furbar/images/bg-1.webp' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <!-- Начало контента призыва к действию -->
                <div class="call-to-action-content text-center">
                    <h1 class="title">Добро пожаловать в магазин</h1>
                    <p style='color: black;'>Преобразите свой дом с помощью нашей элегантной и стильной мебели, которая создает атмосферу комфорта и уюта. Наш магазин предлагает широкий выбор мебельных изделий для всех помещений: от элегантных прикроватных столиков до удобных кресел и изысканных светильников. Вдохновляйтесь нашими коллекциями и создайте свою уникальную обстановку, отражающую ваш стиль и вкус.</p>
                    <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                </div>
                <!-- Конец контента призыва к действию -->

            </div>
        </div>
    </div>
</div>
<!-- Конец секции призыва к действию -->


<!-- Секция Лучшие продажи начало -->
<div class="section section-padding-02 mt-n10">
    <div class="container">
        <div class="row flex-row-reverse justify-content-center">
            
            <div class="col-lg-9">
                <!-- Обертка продуктов начало -->
                <div class="product-wrapper mt-9 product-active">

                    <!-- Верхняя часть продуктов начало -->
                    <div class="product-top-wrapper">

                        <!-- Заголовок раздела начало -->
                        <div class="section-title">
                            <h2 class="title">Лучшие продажи</h2>
                        </div>
                        <!-- Заголовок раздела конец -->

                        <!-- Меню продуктов начало -->
                        <div class="product-menu">
                            <ul class="nav">
                                <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab4">За все время</button></li>
                                <li><button data-bs-toggle="tab" data-bs-target="#tab5">В этом месяце</button></li>
                                <li><button data-bs-toggle="tab" data-bs-target="#tab6">На этой неделе</button></li>
                            </ul>
                        </div>
                        <!-- Меню продуктов конец -->

                        <!-- Стрелки Swiper конец -->
                        <div class="swiper-arrows">
                            <!-- Добавить стрелки -->
                            <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                        </div>
                        <!-- Стрелки Swiper конец -->

                    </div>
                    <!-- Верхняя часть продуктов конец -->

                    <!-- Содержимое вкладок продуктов начало -->
                    <div class="product-tabs-content">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab4">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for bestseller in bestsellers.0 %}
                    <!-- Один продукт начало -->
                    <div class="swiper-slide">
                        <div class="single-product">
                            <a href="{% url 'product-details' article=bestseller.article %}">
                                <img src="{{ bestseller.first_image.preview.url }}" alt="{{ bestseller.name }}" width="{{ bestseller.preview.width }}" height="{{ bestseller.preview.height }}">
                            </a>
                            <div class="product-content">
                                <h4 class="title"><a href="{% url 'product-details' article=bestseller.article %}">{{ bestseller.name }}</a></h4>
                                <div class="price">
                                    <span class="sale-price">{{bestseller.price}}₽</span>
                                </div>
                            </div>
                            <ul class="product-meta">
                                <li>
                                    <a class="action add-to-basket {% if bestseller in basket %}active{% endif %}" 
                                       href="" {% if bestseller in basket %}style="background-color:orange;"{% endif %} data-add-url="{% url 'basket_add' article=bestseller.article %}" 
                                       data-delete-url="{% url 'basket_delete' article=bestseller.article %}">
                                        <i class="pe-7s-shopbag"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="action add-to-wishlist {% if bestseller in wishlist %}active{% endif %}" 
                                       href="" {% if bestseller in wishlist %}style="background-color:orange;"{% endif %} data-add-url="{% url 'wishlist_add' article=bestseller.article %}" 
                                       data-delete-url="{% url 'wishlist_delete' article=bestseller.article %}">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Один продукт конец -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab5">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for bestseller in bestsellers.1 %}
                    <!-- Один продукт начало -->
                    <div class="swiper-slide">
                        <div class="single-product">
                            <a href="{% url 'product-details' article=bestseller.article %}">
                                <img src="{{ bestseller.first_image.preview.url }}" alt="{{ bestseller.name }}" width="{{ bestseller.preview.width }}" height="{{ bestseller.preview.height }}">
                            </a>
                            <div class="product-content">
                                <h4 class="title"><a href="{% url 'product-details' article=bestseller.article %}">{{ bestseller.name }}</a></h4>
                                <div class="price">
                                    <span class="sale-price">{{bestseller.price}}₽</span>
                                </div>
                            </div>
                            <ul class="product-meta">
                                <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Один продукт конец -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab6">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for bestseller in bestsellers.2 %}
                    <!-- Один продукт начало -->
                    <div class="swiper-slide">
                        <div class="single-product">
                            <a href="{% url 'product-details' article=bestseller.article %}">
                                <img src="{{ bestseller.first_image.preview.url }}" alt="{{ bestseller.name }}" width="{{ bestseller.preview.width }}" height="{{ bestseller.preview.height }}">
                            </a>
                            <div class="product-content">
                                <h4 class="title"><a href="{% url 'product-details' article=bestseller.article %}">{{ bestseller.name }}</a></h4>
                                <div class="price">
                                    <span class="sale-price">{{bestseller.price}}₽</span>
                                </div>
                            </div>
                            <ul class="product-meta">
                                <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Один продукт конец -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
                    <!-- Содержимое вкладок продуктов конец -->

                </div>
                <!-- Обертка продуктов конец -->
            </div>
        </div>
    </div>
</div>
<!-- Секция Лучшие продажи конец -->

<!-- Секция Преимущества начало -->
<div class="section section-padding mt-n6">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">

                <!-- Одно Преимущество начало -->
                <div class="single-benefit">
                    <img src="{% static 'furbar/images/icon/icon-1.png' %}" alt="Иконка">
                    <h3 class="title">Бесплатная доставка</h3>
                    <p>Получите 10% кэшбэк, бесплатную доставку, бесплатные возвраты и многое другое в 1000+ лучших розничных сетях!</p>
                </div>
                <!-- Одно Преимущество конец -->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Одно Преимущество начало -->
                <div class="single-benefit">
                    <img src="{% static 'furbar/images/icon/icon-2.png' %}" alt="Иконка">
                    <h3 class="title">Безопасная оплата</h3>
                    <p>Получите 10% кэшбэк, бесплатную доставку, бесплатные возвраты и многое другое в 1000+ лучших розничных сетях!</p>
                </div>
                <!-- Одно Преимущество конец -->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Одно Преимущество начало -->
                <div class="single-benefit">
                    <img src="{% static 'furbar/images/icon/icon-3.png' %}" alt="Иконка">
                    <h3 class="title">Онлайн поддержка</h3>
                    <p>Получите 10% кэшбэк, бесплатную доставку, бесплатные возвраты и многое другое в 1000+ лучших розничных сетях!</p>
                </div>
                <!-- Одно Преимущество конец -->

            </div>
        </div>
    </div>
</div>
<!-- Секция Преимущества конец -->



<!-- Product Banner Section Start -->
<div class="section">
    <div class="products-banner products-banner-active">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                
                    {% for category in random_categories %}
                    <div class="swiper-slide">
                    <!-- Single Products Banner Start -->
                    <div class="single-products-banner">
                        <img src="{{ category.image.preview.url }}" alt="{{category.name}}", width="{{ categegory.image.preview.width }}" height="{{ categegory.image.preview.height }}">

                        <div class="products-banner-content">
                            <div class="banner-content-wrapper">
                                <h4 class="title"><a href="product-details.html">{{category.name}}</a></h4>
                                <span class="products-count">{{ category.products_count }} Продуктов</span>
                                <a href="product-details.html" class="arrow"><i class="pe-7s-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                
                    </div>
                    <!-- Single Products Banner End -->
                    {% endfor %}
                

                
            </div>
        </div>
    </div>
</div>
<!-- Product Banner Section End -->


    <!-- Blog Section Start -->
    <div class="section section-padding">
        <div class="container">

            <!-- Blog Wrapper End -->
            <div class="blog-wrapper blog-active">

                <!-- Blog Top Wrapper Start -->
                <div class="blog-top-wrapper mt-n1">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h2 class="title">Последний статьи</h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- Swiper Arrows End -->
                    <div class="swiper-arrows">
                        <!-- Add Arrows -->
                        <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                        <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                    </div>
                    <!-- Swiper Arrows End -->

                </div>
                <!-- Blog Top Wrapper End -->

                <!-- Blog Items Wrapper End -->
                <div class="blog-items-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for article in latest_articles %}
							<div class="swiper-slide">
                                
                                <!-- Single Blog Start -->
                                
                                <div class="single-blog">
                                    <a href="{% url 'article' article=article.id %}"><img src="{{article.first_image.preview.url}}" alt="{{article.name}}"></a>
    
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><i class="pe-7s-user"></i> <span> От: <a href="#">{{article.user.username}}</a></span> </li>
                                            <li><i class="pe-7s-date"></i> <span>{{article.date}}</span></li>
                                        </ul>
                                        <h4 class="title"><a href="blog-details-left-sidebar.html">{{article.name}}</a></h4>
                                        <a href="{% url 'article' article=article.id %}" class="btn btn-dark btn-hover-primary">Посмотреть</a>
                                    </div>
                                </div>
                                <!-- Single Blog End -->
    
                            </div>
                            {% endfor %}
                        
                    </div>
                </div>
            </div>
            <!-- Blog Items Wrapper End -->

        </div>
        <!-- Blog Wrapper End -->

    </div>
    </div>
    <!-- Blog Section End -->

{% endblock content %}
