{% extends "furbar/base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<!-- Начало секции слайдера -->
<div class="section slider-section">

    <div class="slider-shape"></div>

    <div class="container">
        <div class="slider-active">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <!-- Начало одиночного слайдера -->
                    <div class="single-slider swiper-slide animation-style-01">

                        <!-- Начало содержимого слайдера -->
                        <div class="slider-content">
                            <h2 class="title">Новая стильная <br> мебель для декора</h2>
                            <p>Уникальный стиль мебели для вашей семьи</p>
                            <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                        </div>
                        <!-- Конец содержимого слайдера -->

                        <!-- Начало изображений слайдера -->
                        <div class="slider-images">
                            <img src="{% static 'furbar/images/slider/slider-item-1.png' %}" alt="Слайдер">
                        </div>
                        <!-- Конец изображений слайдера -->

                    </div>
                    <!-- Конец одиночного слайдера -->

                    <!-- Начало одиночного слайдера -->
                    <div class="single-slider swiper-slide animation-style-01">

                        <!-- Начало содержимого слайдера -->
                        <div class="slider-content">
                            <h2 class="title">Новая стильная <br> мебель для декора</h2>
                            <p>Уникальный стиль мебели для вашей семьи</p>
                            <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                        </div>
                        <!-- Конец содержимого слайдера -->

                        <!-- Начало изображений слайдера -->
                        <div class="slider-images">
                            <img src="{% static 'furbar/images/slider/slider-item-2.png' %}" alt="Слайдер">
                        </div>
                        <!-- Конец изображений слайдера -->

                    </div>
                    <!-- Конец одиночного слайдера -->

                    <!-- Начало одиночного слайдера -->
                    <div class="single-slider swiper-slide animation-style-01">

                        <!-- Начало содержимого слайдера -->
                        <div class="slider-content">
                            <h2 class="title">Новая стильная <br> мебель для декора</h2>
                            <p>Уникальный стиль мебели для вашей семьи</p>
                            <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                        </div>
                        <!-- Конец содержимого слайдера -->

                        <!-- Начало изображений слайдера -->
                        <div class="slider-images">
                            <img src="{% static 'furbar/images/slider/slider-item-3.png' %}" alt="Слайдер">
                        </div>
                        <!-- Конец изображений слайдера -->

                    </div>
                    <!-- Конец одиночного слайдера -->

                </div>

                <!-- Добавить пагинацию -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
<!-- Конец секции слайдера -->


<!-- Banner Section Start -->
<!-- Начало секции новых продуктов -->
<div class="section section-padding mt-n10">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-lg-9 ">
                <!-- Начало обертки продуктов -->
                <div class="product-wrapper mt-9 product-active">

                    <!-- Начало обертки продуктов верхнего уровня -->
                    <div class="product-top-wrapper">

                        <!-- Начало заголовка раздела -->
                        <div class="section-title">
                            <h2 class="title">Скидки</h2>
                        </div>
                        <!-- Конец заголовка раздела -->

                        <!-- Конец стрелок Swiper -->
                        <div class="swiper-arrows">
                            <!-- Стрелки -->
                            <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                        </div>
                        <!-- Конец стрелок Swiper -->

                    </div>
                    <!-- Конец обертки продуктов верхнего уровня -->

                    <!-- Начало содержимого вкладок продуктов -->
                    <div class="product-tabs-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for product in basket %}
                                        <div class="swiper-slide">
                                            <!-- Начало одиночного продукта -->
                                            
                                            <div class="single-product">
                                                <a href="{% url 'product-details' product.article %}"><img src="{{ product.first_image.image.url }}" alt="{{ product.name }}"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="{% url 'product-details' product.article %}">{{ product.name }}</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">{{ product.price }}</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Конец одиночного продукта -->
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <!-- Конец содержимого вкладок продуктов -->

                </div>
                <!-- Конец обертки продуктов -->
            </div>
        </div>
    </div>
</div>
<!-- Конец секции новых продуктов -->


<!-- Начало секции призыва к действию -->
<div class="section call-to-action" style="background-image: url({% static 'furbar/images/bg-1.jpg' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <!-- Начало контента призыва к действию -->
                <div class="call-to-action-content text-center">
                    <h1 class="title">Добро пожаловать в магазин</h1>
                    <p>Преобразите свой дом с помощью нашей элегантной и стильной мебели, которая создает атмосферу комфорта и уюта. Наш магазин предлагает широкий выбор мебельных изделий для всех помещений: от элегантных прикроватных столиков до удобных кресел и изысканных светильников. Вдохновляйтесь нашими коллекциями и создайте свою уникальную обстановку, отражающую ваш стиль и вкус.</p>
                    <a href="{% url 'shop' %}" class="btn btn-primary btn-hover-dark">Купить сейчас</a>
                </div>
                <!-- Конец контента призыва к действию -->

            </div>
        </div>
    </div>
</div>
<!-- Конец секции призыва к действию -->


<!-- Best Sellers Section Start -->
<div class="section section-padding-02 mt-n10">
    <div class="container">
        <div class="row flex-row-reverse justify-content-center">
            <div class="col-lg-3 col-md-6">
                <!-- Single Banner Start -->
                <div class="single-banner-02 mt-10">
                    <img src="images/banner/banner-04.jpg" alt="Banner">

                    <div class="banner-content">
                        <h3 class="title"><a href="shop-grid-left-sidebar.html">All New Furniture</a></h3>
                        <span class="discount">40% Off</span>
                        <a class="btn btn-primary btn-hover-dark" href="shop-grid-left-sidebar.html">Shop Now</a>
                    </div>
                </div>
                <!-- Single Banner End -->
            </div>
            <div class="col-lg-9">
                <!-- Product Wrapper Start -->
                <div class="product-wrapper mt-9 product-active">

                    <!-- Product Top Wrapper Start -->
                    <div class="product-top-wrapper">

                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2 class="title">Best Sellers</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Product Menu Start -->
                        <div class="product-menu">
                            <ul class="nav">
                                <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab4">All Time</button></li>
                                <li><button data-bs-toggle="tab" data-bs-target="#tab5">This Year</button></li>
                                <li><button data-bs-toggle="tab" data-bs-target="#tab6">This Month</button></li>
                            </ul>
                        </div>
                        <!-- Product Menu End -->

                        <!-- Swiper Arrows End -->
                        <div class="swiper-arrows">
                            <!-- Add Arrows -->
                            <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                        </div>
                        <!-- Swiper Arrows End -->

                    </div>
                    <!-- Product Top Wrapper End -->

                    <!-- Product Tabs Content Start -->
                    <div class="product-tabs-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab4">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-04.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">High quality vase bottle</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-05.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Living & Bedroom Chair</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-06.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Herman Arm Grey Chair</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab5">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-01.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Elona bedside grey table</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$40.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-02.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Simple minimal Chair</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-03.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html"> Pendant Chandelier Light</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab6">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-07.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Wooden decorations</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-08.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Herman Seater Sofa</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="product-details.html"><img src="images/product/product-09.jpg" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Reece Seater Sofa</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Tabs Content End -->

                </div>
                <!-- Product Wrapper End -->
            </div>
        </div>
    </div>
</div>
<!-- Best Sellers Section End -->

<!-- Benefit Section Start -->
<div class="section section-padding mt-n6">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">

                <!-- Single Benefit Start -->
                <div class="single-benefit">
                    <img src="images/icon/icon-1.png" alt="Icon">
                    <h3 class="title">Free Shipping</h3>
                    <p>Get 10% cash back, free shipping, free returns, and more at 1000+ top retailers!</p>
                </div>
                <!-- Single Benefit End -->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Single Benefit Start -->
                <div class="single-benefit">
                    <img src="images/icon/icon-2.png" alt="Icon">
                    <h3 class="title">Safe Payment</h3>
                    <p>Get 10% cash back, free shipping, free returns, and more at 1000+ top retailers!</p>
                </div>
                <!-- Single Benefit End -->

            </div>
            <div class="col-lg-4 col-md-6">

                <!-- Single Benefit Start -->
                <div class="single-benefit">
                    <img src="images/icon/icon-3.png" alt="Icon">
                    <h3 class="title">Online Support</h3>
                    <p>Get 10% cash back, free shipping, free returns, and more at 1000+ top retailers!</p>
                </div>
                <!-- Single Benefit End -->

            </div>
        </div>
    </div>
</div>
<!-- Benefit Section End -->


<!-- Product Banner Section Start -->
<div class="section">
    <div class="products-banner products-banner-active">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <!-- Single Products Banner Start -->
                    <div class="single-products-banner">
                        <img src="images/products-banner/products-01.jpg" alt="Products">

                        <div class="products-banner-content">
                            <div class="banner-content-wrapper">
                                <h4 class="title"><a href="product-details.html">Drawing Furniture</a></h4>
                                <span class="products-count">15 Products</span>
                                <a href="product-details.html" class="arrow"><i class="pe-7s-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Products Banner End -->

                </div>
                <div class="swiper-slide">

                    <!-- Single Products Banner Start -->
                    <div class="single-products-banner">
                        <img src="images/products-banner/products-02.jpg" alt="Products">

                        <div class="products-banner-content">
                            <div class="banner-content-wrapper">
                                <h4 class="title"><a href="product-details.html">Drawing Furniture</a></h4>
                                <span class="products-count">15 Products</span>
                                <a href="product-details.html" class="arrow"><i class="pe-7s-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Products Banner End -->

                </div>
                <div class="swiper-slide">

                    <!-- Single Products Banner Start -->
                    <div class="single-products-banner">
                        <img src="images/products-banner/products-03.jpg" alt="Products">

                        <div class="products-banner-content">
                            <div class="banner-content-wrapper">
                                <h4 class="title"><a href="product-details.html">Drawing Furniture</a></h4>
                                <span class="products-count">15 Products</span>
                                <a href="product-details.html" class="arrow"><i class="pe-7s-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Products Banner End -->

                </div>
                <div class="swiper-slide">

                    <!-- Single Products Banner Start -->
                    <div class="single-products-banner">
                        <img src="{% static 'furbar/images/products-banner/products-04.jpg' %}" alt="Products">

                        <div class="products-banner-content">
                            <div class="banner-content-wrapper">
                                <h4 class="title"><a href="product-details.html">Drawing Furniture</a></h4>
                                <span class="products-count">15 Products</span>
                                <a href="product-details.html" class="arrow"><i class="pe-7s-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Products Banner End -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Banner Section End -->



{% endblock content %}
