{% extends "furbar/base.html" %}
{% load static %}
{% block title %} {{ product.name }} {% endblock title %}
{% block content %}

    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url('{% static "furbar/images/page-banner.jpg" %}');">

        <div class="container">

            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">Товар</h2>

                <ul class="breadcrumb">
                    <li><a href="{% url "index" %}">Домой</a></li>
                    <li class="active">{{ product.name }}</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->

        </div>
    </div>
    <!-- Product Details Section Start -->
    <div class="section section-padding-02 mt-n10">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">

                    <!-- Product Details Images Start -->
                    <div class="product-details-images">

                        <!-- Details Gallery Images Start -->
                        <div class="details-gallery-images">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for image in product.images.all %}
                                    <div class="swiper-slide">
                                        <div class="single-img zoom">
                                            
                                            <img src="{{ image.large.url }}" alt="Product Image">
                                            <div class="inner-stuff">
                                                <div class="gallery-item" data-src="{{ image.large.url }}">
                                                    <a href="javascript:void(0)">
                                                        <i class="lastudioicon-full-screen"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Details Gallery Images End -->

                        <!-- Details Gallery Thumbs Start -->
                        <div class="details-gallery-thumbs">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for image in product.images.all %}
                                    <div class="swiper-slide">
                                        <img src="{{ image.preview.url }}" alt="Product Thumbnail">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                        </div>
                        <!-- Details Gallery Thumbs End -->

                    </div>
                    <!-- Product Details Images End -->

                </div>
                <div class="col-lg-6">

                    <!-- Product Details Description Start -->
                    <div class="product-details-description">
                        <h4 class="product-name">{{ product.name }}</h4>
                        <div class="price">
                            {% if product.has_discount %}
                            <span class="sale-price" >{{product.discounted_price}}₽</span> &nbsp;
                            <span class="old-price" ><strike>{{ product.price }}</strike></span>
                            {% else %}
                            <span class="sale-price">{{ product.price }}</span>
                            {% endif %} 
                            
                        </div>
                        <div class="review-wrapper">
                            <div class="review-star">
                                <div class="star" style="width: {{product.rating}}%;"></div>
                            </div>
                            <p>( {{ product.vote_count }} Отзывов )</p>
                        </div>

                        

                       

                        <div class="product-meta">
                            
                            <div class="meta-action">
                                <button class="btn bask btn-dark btn-hover-primary {% if product in basket %}active{% endif %}" 
                                {% if product in basket %}style="background-color:orange;"{% endif %}
                                data-add-url="{% url 'basket_add' article=product.article %}"
                                data-delete-url="{% url 'basket_delete' article=product.article %}">
                                {% if product in basket %} Убрать из корзины {% else %} Добавить в корзину {% endif %}
                                </button>
                            </div>
                            <div class="meta-action">
                                <a class="action add-to-wishlist {% if product in wishlist %}active{% endif %}" 
                                href="" {% if product in wishlist %}style="background-color:orange;"{% endif %} data-add-url="{% url 'wishlist_add' article=product.article %}" 
                                data-delete-url="{% url 'wishlist_delete' article=product.article %}">
                                 <i class="pe-7s-like"></i>
                             </a>
                            </div>
                            <div class="meta-action">
                                <a class="action" href="#"><i class="pe-7s-shuffle"></i></a>
                            </div>
                        </div>

                        <div class="product-info">
                            <div class="single-info">
                                <span class="lable">Артикль:</span>
                                <span class="value">{{product.article}}</span>
                            </div>
                            <div class="single-info">
                                <span class="lable">Категории:</span>
                                <span class="value"> 
                                    {% for category in product.category.category_hierarchy %}
                                    <a href="{% url "shop" %}?category={{category.name }}">{{category.name }},</a> 
                                    {% endfor %}
                                    <a href="{% url "shop" %}?category={{ product.category.name }}">{{ product.category.name }}</a> 
                                </span>
                            </div>
                            
                            <div class="single-info">
                                <span class="lable">Теги:</span>
                                {% for tag in product.tags.all %}
                                <span class="value"><a href="{% url "shop" %}?tag={{ tag.name }}">{{tag.name}}</a></span>
                                {% endfor %}
                            </div>
                            <div class="single-info">
                                <span class="lable">Поделиться:</span>
                                <ul class="social">
                                    <div class="ya-share2" data-services="vkontakte,whatsapp,telegram"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product Details Description End -->

                </div>
            </div>

        </div>
    </div>
    <!-- Product Details Section End -->

    <!-- Product Details tab Section Start -->
    <div class="section section-padding-02">
        <div class="container">

            <!-- Product Details Tabs Start -->
            <div class="product-details-tabs">
                <ul class="nav justify-content-center">
                    <li><button data-bs-toggle="tab" data-bs-target="#information">Описание</button></li>
                    <li><button data-bs-toggle="tab" data-bs-target="#reviews">Отзывы ({{ product.comments.all.count }})</button></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade" id="information">
                        <!-- Information Content Start -->
                        <div class="information-content">
                            <h4 class="title">Описание</h4>
                            <p>{{ product.description }}</p>
                        </div>
                        <!-- Information Content End -->
                    </div>
                    <div class="tab-pane fade show active" id="description">
                        <!-- Description Content Start -->
                        <div class="description-content">
                            <p>{{ product.description }}</p>
                        </div>
                        <!-- Description Content End -->
                    </div>
                    <div class="tab-pane fade" id="reviews">
                        <!-- Reviews Content Start -->
                        <div class="reviews-content">

                            <!-- Review Comment Start  -->
                            <div class="reviews-comment">
                                <div class="commentss">
                                    {% for comment in product.comments.all %}
                                    <div class="single-reviews" id="single-reviews-{{ comment.id }}">
                                        <div class="comment-author">
                                            <img src="{{ comment.user.image.preview.url }}" alt="UserImage">
                                        </div>
                                        
                                        
                                        
                                        <div class="comment-content">
                                            <div class="author-name-rating">
                                                <h6 class="name">{{ comment.user.username }}</h6>
                                                <div class="review-star">
                                                    <div class="star" style="width: {{ comment.vote }}%;"></div>
                                                </div>
                                            </div>
                                            <span class="date">{{ comment.date }}</span>
                                            <p id="comment-text-{{ comment.id }}">{{ comment.text }}</p>
                                            <div id="comment-images-{{ comment.id }}">
                                                {% for image in comment.images.all %}
                                                <a href="{{ image.large.url }}">
                                                    <img src="{{ image.preview.url }}" alt="CommentImage" width="{{ image.preview.width }}" height="{{ image.preview.height }}" style="border-radius: 5px;">
                                                </a>
                                                {% endfor %}
                                            </div>
                                            {% if comment in user_comments %}
                                            <p></p>
                                            <p></p>
                                            <div class="comment-actions">
                                                <a href="#" class="edit-comment" data-comment-id="{{ comment.id }}"><i class="fa fa-edit"></i></a>
                                                <a href="#" class="delete-comment" data-comment-id="{{ comment.id }}"><i class="fa fa-trash"></i></a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- Edit Comment Modal -->

                                    <div id="editCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCommentModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editCommentModalLabel">Редактировать комментарий</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="edit-comment-form" enctype="multipart/form-data">
                                                        <input type="hidden" id="edit-comment-id" name="comment_id">
                                                        <div class="form-group">
                                                            <label for="edit-comment-text" >Текст комментария</label>
                                                            <p></p>
                                                            <textarea class="form-control" id="edit-comment-text" name="text" rows="3" style="border: 1px solid #ced4da; /* Цвет границы */
                                                            border-radius: .25rem; /* Округление углов */
                                                            padding: .375rem .75rem; /* Отступ внутри поля */"></textarea>
                                                        </div>
                                                        
                                                        
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <p></p>
                                                    <span>Для изменения прикрепленных изображений пересоздайте комментарий (фронтендеру миски риса не хватило для добавления этого функционала)</span>
                                                    <p></p>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                                    <button type="button" class="btn btn-primary" id="save-comment">Сохранить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                
                            </div>
                        
                                <!-- Single Comment End  -->
                                
                            {% if commentsAllowed %}
                            <!-- Review Form Start  -->
                            <div class="reviews-form">
                                <h3 class="reviews-title">Добавить отзыв</h3>
                                <form id="review-form" enctype="multipart/form-data">
                                    <a id="sssa" href="{% url 'add_comment' model='product' obj_id=product.id %}"></a>
                                    <div class="col-md-12">
                                        <div class="review-rating">
                                            <label class="title">Рейтинг:</label>
                                            <ul id="rating" class="rating">
                                                <li class="star" title="Poor" data-value="1"><i class="fa fa-star-o"></i></li>
                                                <li class="star" title="Poor" data-value="2"><i class="fa fa-star-o"></i></li>
                                                <li class="star" title="Poor" data-value="3"><i class="fa fa-star-o"></i></li>
                                                <li class="star" title="Poor" data-value="4"><i class="fa fa-star-o"></i></li>
                                                <li class="star" title="Poor" data-value="5"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <textarea id="review-text" name="text" placeholder="Напишите ваши комментарии здесь"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <input type="file" id="review-images" name="images[]" multiple>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-form">
                                            <button type="submit" class="btn btn-dark btn-hover-primary">Отправить отзыв</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% else %}
                            <div class="alert alert-info mt-10" role="alert">
                                <h6 class="alert-heading">Комментарий могут оставить только авторизованные пользователи, которые купили данный товар.</h6>
                                <p>Пожалуйста, войдите в систему и подтвердите покупку, чтобы оставить отзыв. Каждый пользователь может оставить только один комментарий к каждому товару.</p>
                            </div>
                            {% endif %}
                            
                            <!-- Review Form End  -->

                        </div>
                        <!-- Reviews Content End -->
                    </div>
                </div>
            </div>
            <!-- Product Details Tabs End -->

        </div>
    </div>
    <!-- Product Details tab Section End -->

    <!-- Sale Product Section Start -->
    <div class="section section-padding mt-n1">
        <div class="container">
            <div class="">
                <!-- Product Wrapper Start -->
                <div class="product-wrapper product-active-02">

                    <!-- Product Top Wrapper Start -->
                    <div class="product-top-wrapper mt-n1">

                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2 class="title"># Related Products</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Product Menu Start -->
                        <div class="product-menu">
                            <ul class="nav">
                                <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab7">All Time</button></li>
                                <li><button data-bs-toggle="tab" data-bs-target="#tab8">This Year</button></li>
                                <li><button data-bs-toggle="tab" data-bs-target="#tab9">This Month</button></li>
                            </ul>
                        </div>
                        <!-- Product Menu End -->

                        <!-- Swiper Arrows End -->
                        <div class="swiper-arrows">
                            <!-- Add Arrows -->
                            <div class="swiper-button-prev"><i class="pe-7s-angle-left"></i></div>
                            <div class="swiper-button-next"><i class="pe-7s-angle-right"></i></div>
                        </div>
                        <!-- Swiper Arrows End -->

                    </div>
                    <!-- Product Top Wrapper End -->

                    <!-- Product Tabs Content Start -->
                    <div class="product-tabs-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab7">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-07.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Wooden decorations</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-08.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Herman Seater Sofa</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-09.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Reece Seater Sofa</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-10.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Round Swivel Chair</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab8">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-01.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Elona bedside grey table</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-02.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Simple minimal Chair</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-03.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Pendant Chandelier Light</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-04.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">High quality vase bottle</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab9">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-04.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">High quality vase bottle</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-03.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Pendant Chandelier Light</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-01.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Elona bedside grey table</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product">
                                                <a href="#"><img src="{% static "furbar/images/product/product-10.jpg" %}" alt="product"></a>
                                                <div class="product-content">
                                                    <h4 class="title"><a href="product-details.html">Round Swivel Chair</a></h4>
                                                    <div class="price">
                                                        <span class="sale-price">$240.00</span>
                                                    </div>
                                                </div>
                                                <ul class="product-meta">
                                                    <li><a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-shopbag"></i></a></li>
                                                    <li><a class="action" href="#"><i class="pe-7s-like"></i></a></li>
                                                </ul>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Tabs Content End -->

                </div>
                <!-- Product Wrapper End -->
            </div>
        </div>
    </div>
    <!-- Sale Product Section End -->

    {% endblock content %}
   



